<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
    <customErrors mode="Off" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <diagnostics performanceCounters="All" />
    <client>
      <endpoint address="net.tcp://localhost:8000/discovery/MainService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IIDCardCheckCore" contract="IDCardCheckServiceReference.IIDCardCheckCore" name="NetTcpBinding_IIDCardCheckCore" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BSecureSOAPBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" />
        <binding name="BasicHttpBinding_IServiceCore" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_INOICommunication" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="01:00:00" closeTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" />
        <binding name="BasicHttpBinding_IDataAccessService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="01:00:00" closeTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebConfiguration" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Streamed" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" />
      </webHttpBinding>
      <netTcpBinding>
        <binding name="DefaultNetTcpBinding" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="20000000" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="netTcpEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="customMex">
          <textMessageEncoding>
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </textMessageEncoding>
          <httpTransport transferMode="Buffered" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="E-CheckCoreServiceBehavior" name="SampleService.ServiceCore">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:90/Service1/" />
          </baseAddresses>
        </host>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="MainService" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpBinding" contract="SampleService.IServiceCore" />
        <!--<endpoint address="MainServiceUnsecure" binding="netTcpBinding" bindingConfiguration="UnsecureNetTcpBinding" contract="ECheckCoreService.Interfaces.IServiceCore" />-->
        <!--<endpoint address="MainServiceMessageSecurityTest" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpBindingMessageSecure" contract="ECheckCoreService.Interfaces.IServiceCore" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="E-CheckCoreServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>